{% extends 'base.html.twig' %}

{% block title %}Edit Accounts{% endblock %}

{% block content %}
    <h1>Edit Accounts</h1>

    {{ include('accounts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_accounts_index') }}">back to list</a>

{% endblock %}
