{% extends 'base.html.twig' %}

{% block title %}Edit Accounts{% endblock %}

{% block content %}
    <h1>Edit Accounts</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
